html, body {
  background-color: #A3C6C4;
  letter-spacing: 2px;
}

main {
  background-color: #A3C6C4;
}
.container {
  font-family: Cabin, Helvetica, Arial, sans-serif;
  letter-spacing: 1px;
  font-weight: 300;
  font-style: normal;
  background-color: #A3C6C4;
  color: black;
}
.content {
  background-color: #CDEBEB;
}
#app div {
  height: 100%;
}

ul {
  list-style-type: none;
  padding: 0;
}

nav {
  font-size: 20px;
}

.Nav {
  margin: 0.5em;
  display: flex;
  align-items: center;
  width: 100%;
}
.Nav li {

}
.mainMenu li a {
  text-decoration: none;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  padding: 0.2em 0 0.2em 0;
  transition: .7s;
}
.mainMenu li a:hover {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}
.mainNav {
  position: fixed;
  width: 100%;
  background-color: #c2f0c2;
  z-index: 9999;
  font-weight: lighter;
}
.breakfast {
  border: 1px solid #ECF1F1;
  padding: 1em;
  width: 240px;

}
.breakfast h6 {
  line-height: 25px;
  font-size: 15px;
}
.adress {
  line-height: 30px;
}
.drinks {
  border: 1px solid #ECF1F1;
  width: 200px;
  padding: 1em;
}
.drinks p{
  margin: 0;
}
.extras {
  font-size: 13px;
}
.copyright {
  font-size: 10px;
}
.footer {
  background-color: #A3C6C4;
}
.footer p {
  font-size: 15px;
  text-transform: uppercase;
}
